.nav-bar {
    background-color: #393a44;
    min-width: 200px;
}

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    background-image: url("../background.jpg");
    background-size: 400px;
}

.header-logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    text-align: center;
    color: #e7e7e7;
    line-height: 50%;
    margin-bottom: 50px;
    margin-top: 100px;
    text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .40);
}

h2 {
    /* margin-bottom: 10px; */
    margin-top: 20px;
}

html {
    overflow-x: hidden;
}

.card-main {
    background-color: #1f424b;
    border-radius: 1.25rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .30);
    max-width: 600px;
}

.card-text {
    color: rgb(231, 224, 224);
}

.plus-button {
    right: 10px;
    position: absolute;
    top: 10px;
}